<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 navbar-top">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item active languageSet">@Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                        <li class="nav-item active languageSet">@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-12 navbar-middle">
                    <ul class="nav navbar-link logo">
                        <li class="logo">
                            <a href="@Url.Action("Ana Sayfa", "Index", "Home")" title="" class="links logo">
                                <img class="logo" src="@Url.Content("~/logo.png")">
                            </a>
                        </li>                        
                    </ul>
                </div>                
                <div class="col-md-6 col-sm-4 col-xs-12 navbar-middle">
                    <form class="form-inline my-2 my-lg-0 input-group">
                        <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Ne aramıştınız ?" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0 searchButton" type="submit">Ara</button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 navbar-middle">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.Partial("_LoginPartial")</li>                        
                        <li class="basket">@Html.ActionLink("Sepetim", "Basket", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row navbar-end">
            <div class="container">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <ul class="nav navbar-nav">
                        <li class="navbar-link">@Html.ActionLink("Elektronik", "Electronic", "Home")</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <ul class="nav navbar-nav">
                        <li class="navbar-link">@Html.ActionLink("Giyim-Ayakkabı", "ClothingShoes", "Home")</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <ul class="nav navbar-nav">
                        <li class="navbar-link">@Html.ActionLink("Ev-Yaşam", "HomeLife", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>       
    </header>    

    <div class="container">
        @RenderBody()
    </div>    

    <footer>
        <div class="row footer-top">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30">
                <h2>Hakkımızda</h2>
                <p>Misyonumuz müşterilerimize teknoloji ile her zaman ve her yerde en iyi alışveriş deneyimini yaşatmak.Müşteri her zaman önceliğimiz!</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                <h2>Link</h2>
                <ul>
                    <li class="navbar-link">@Html.ActionLink("Elektronik", "Electronic", "Home")</li>
                    <li class="navbar-link">@Html.ActionLink("Giyim-Ayakkabı", "ClothingShoes", "Home")</li>
                    <li class="navbar-link">@Html.ActionLink("Ev-Yaşam", "HomeLife", "Home")</li>
                    <li class="navbar-link">@Html.ActionLink("UrunKontrol", "Index", "Urun")</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-three sm-mb-30">
                <h2>Bizi Takip Edin</h2>
                <p>Lütfen güncel kalmak için bizi sosyal medya hesaplarımızdan takip edin.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                <h2>E-Bülten</h2>
                <p>En güncel kampanyalarımızdan haberdar olmak için e-mail adresiniz bize gönderin!</p>
                <form class="input-group" action="">
                    <input type="text" class="form-control footer-email" placeholder="e-mail" aria-label="" aria-describedby="button-addon1">
                    <button type="button" class="btn btn-outline-info footer-button">Gönder</button>
                </form>
            </div>
        </div>
        <p class="footer-bottom footer-bottom-text">All Right reserved by &copy;CHOY.2019</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
