@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="row userNavbar">
            <div class="col-md-12 userNavbarName">
                @Html.Display("Merhaba " + User.Identity.GetUserName() + "!", new { @class = "userNavbarName" })
            </div>
            <div class="row">
                <div class="col-md-6 userNavbarBasket">
                    <a class="navbar-link" href="@Url.Action("Basket", "Product", new { @class = "navbarBasketLink"})">Sepetim</a>
                </div>
                <div class="col-md-6 dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seçenekler
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item">@Html.ActionLink(User.Identity.GetUserName(), "Ayarlar", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</div>
                        @if (User.Identity.GetUserName().Contains("setyazilim"))
                        {
                            <div class="dropdown-item">@Html.ActionLink("Tüm ürünler", "Index", "Admin")</div>
                        }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Oturumu kapat</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="nav navbar-right">
        <div class="regesterLink">@Html.ActionLink("Kaydol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
        <div class="loginLink">@Html.ActionLink("Oturum aç", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
    </div>
}


@*
    Değişiklik yapılmadan önceki kodların yedeği

     <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Oturumu kapat</a></li>
    </ul>

*@