@model WebApplication1.Product

@{
    ViewBag.Title = "Details";
}
    <div class="container">
        <p class="pageTitle">Ürün Detay</p>

        <div class="pageDetail">
            <dl class="dl-horizontal pageDetail">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Explanation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Explanation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stock)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color.ColorName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color.ColorName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gender.GenderName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gender.GenderName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Genus.GenusName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genus.GenusName)
                </dd>
            </dl>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Düzenle" class="btn btn-default pageButtonTop" />
            </div>
            <div class="col-md-offset-2 col-md-10 btn btn-default pageButtonBack">
                @Html.ActionLink("Listeye Geri Dön", "Index")
            </div>
        </div>
    </div>