@{
    ViewBag.Title = "Ana Sayfa";
}
<div class="homePageArea">
    <div class="carousel">
        <ul>
            <li>
                <div class="carousel-container">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 1 })">
                        <img src="~/img/slider1.png" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="carousel-container">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 1 })">
                        <img src="~/img/slider2.jpg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="carousel-container">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 1 })">
                        <img src="~/img/slider3.jpg" alt="">
                    </a>
                </div>
            </li>
            <li>
                <div class="carousel-container">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 1 })">
                        <img src="~/img/slider4.jpg" alt="">
                    </a>
                </div>
            </li>
        </ul>
    </div>    
    <div class="row productSectionArea">
        <div class="col-md-5 leftArea">
            <img src="~/img/solresim.png" class="leftImgWrap" alt="">
        </div>
        <div class="col-md-7 rightArea">
            <div class="row sectionOne">                        
                <div class="col-md-4 sectionImg">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 2 })">
                        <img src="~/img/giyimalan.png" class="sectionImgWrap">
                    </a>
                </div>
                <div class="col-md-4 sectionImg">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 2 })">
                        <img src="~/img/ayakkabicanta.png" class="sectionImgWrap">
                    </a>
                </div>
                <div class="col-md-4 sectionImg">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 2 })">
                        <img src="~/img/sporgiyim.png" class="sectionImgWrap">
                    </a>
                </div>
            </div>
            <div class="row sectionTwo">                        
                <div class="col-md-4 sectionImg">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 1 })">
                        <img src="~/img/teknolojialan.png" class="sectionImgWrap">
                    </a>
                </div>
                <div class="col-md-4 sectionImg">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 1 })">
                        <img src="~/img/evaletleri.png" class="sectionImgWrap">
                    </a>
                </div>
                <div class="col-md-4 sectionImg">
                    <a href="@Url.Action("ProductCategory", "Product", new { id = 1 })">
                        <img src="~/img/telefonlar.png" class="sectionImgWrap">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>