@{
    ViewBag.Title = "Ev-Yaşam";

    AllInOneEntities db = new AllInOneEntities();
    List<Cinsiyet> cinsiyetler = db.Cinsiyet.OrderBy(x => x.cinsiyet1).ToList();
    List<Cins> cinsler = db.Cins.OrderBy(x => x.cins1).ToList();
    List<Renk> renkler = db.Renk.OrderBy(x => x.renk1).ToList();
    List<Urun> giyimurunler = db.Urun.Where(x => x.urunID > 129 && x.urunID < 169).ToList();
    List<UrunResmi> resimler = db.UrunResmi.Where(x => x.urunID > 129 && x.urunID < 169).ToList();
    int index = 0;

}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="filterCard">
                <div class="filterName">
                    <p>Cinsiyet</p>
                </div>
                <div class="genderFilter">
                    <div class="overflow-auto">
                        @foreach (var x in cinsiyetler)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label filterLine" for="defaultCheck1">@(x.cinsiyet1)</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="filterName">
                    <p>Ürün Grubu</p>
                </div>
                <div class="categoryFilter">
                    <div class="overflow-auto">
                        @foreach (var y in cinsler)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label filterLine" for="defaultCheck1">@(y.cins1)</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="filterName">
                    <p>Renk</p>
                </div>
                <div class="colorFilter">
                    <div class="overflow-auto">
                        @foreach (var z in renkler)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label filterLine" for="defaultCheck1">@(z.renk1)</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 productCardArea">
            @foreach (var k in giyimurunler)
            {
                <div class="col-md-4 productCard">
                    <div class="productCardImage">
                        <div class="productCardMainImage">
                            <img src="@(k.UrunResmi.First().Url.url1)" class="resim-wrap" id="main_img@(index)" alt="">
                        </div>
                        <div class="productCardImages">
                            @foreach (var r in k.UrunResmi)
                            {
                                <img src="@(r.Url.url1)" onclick="change_img(this,'main_img@(index)'); " id="thumb_img" alt="">
                            }
                        </div>
                    </div>
                    <div class="productCardInformation">
                        <div class="productCardName">@(k.adi)</div>
                        <div class="productCardDescription">@(k.aciklama)</div>
                        <div class="productCardPrice">@(k.fiyat) TL</div>
                        <a href="#" class="productCardBuy">Sepete Ekle</a>
                    </div>
                </div>
                index++;
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function change_img(a, mainctl) {
        $('#' + mainctl).attr('src', a.src)
    }
</script>